body {
	background: #F9E7E8;
}

#wrapper {
	width: 600px;
	height: 600px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: none;
	border-radius: 120px;
	box-shadow: 0 40px 50px -5px rgba(0,0,0,.2);
	/*clip: rect(0px 600px 600px 0px);*/
	background: #e45454;
	background: linear-gradient(258deg,#e45454 20%, #c53737 60%, #db3e3e 100%);
	background: -webkit-linear-gradient(258deg,#e45454 20%, #c53737 60%, #db3e3e 100%);
	background: -moz-linear-gradient(258deg,#e45454 20%, #c53737 60%, #db3e3e 100%);
}
#wrapper #moon {
	width: 120px;
	height: 120px;
	position: absolute;
	border: none;
	border-radius: 100%;
	margin-left: 15%;
	margin-top: 20%;
	background: #ecc85e;
	background: linear-gradient(289deg,#ecc85e 40%, #e6b16f 100%);
	background: -webkit-linear-gradient(289deg,#ecc85e 40%, #e6b16f 100%);
	background: -moz-linear-gradient(289deg,#ecc85e 40%, #e6b16f 100%);
}
#wrapper #mountain-1 {
	width: 130%;
	height: 440px;
	position: absolute;
	bottom: 0;
	clip-path: polygon(39% 10%, -11% 100%, 95% 101%);
	border-bottom-right-radius: 65%;
	border-bottom-left-radius: 120px;
	clip: rect(0px 575px 500px 0px);
	z-index: 0;
	background: #45444d;
	background: linear-gradient(327deg,#45444d 25%, #31303a 40%, #000000 100%);
	background: -webkit-linear-gradient(327deg,#45444d 25%, #31303a 40%, #000000 100%);
	background: -moz-linear-gradient(327deg,#45444d 25%, #31303a 40%, #000000 100%);
}
#wrapper #mountain-2 {
	width: 100%;
	height: 396px;
	position: absolute;
	bottom: 0;
	float: right;
	/*background: green;*/
	z-index: 1;
	clip-path: polygon(92% 28%, 50% 100%, 142% 100%);
	border-bottom-right-radius: 120px;
	/* clip: rect(0px 372px 350px 0px); */
	background: #45444d;
	background: linear-gradient(167deg,#45444d 0%, #31303a 25%, #000000 100%);
	background: -webkit-linear-gradient(167deg,#45444d 0%, #31303a 25%, #000000 100%);
	background: -moz-linear-gradient(167deg,#45444d 0%, #31303a 25%, #000000 100%);
}
#wrapper #mountain-3 {
	width: 117%;
	height: 369px;
	position: absolute;
	bottom: 0;
	float: left;
	clip-path: polygon(10% 30%, -31% 100%, 100% 150%);
	/* clip: rect(0px 400px 200px 270px); */
	z-index: -1;
	border-bottom-left-radius: 120px;
	background: #45444d;
	background: linear-gradient(327deg,#45444d 15%, #31303a 20%, #000000 100%);
	background: -webkit-linear-gradient(327deg,#45444d 15%, #31303a 20%, #000000 100%);
	background: -moz-linear-gradient(327deg,#45444d 15%, #31303a 20%, #000000 100%);
}
p {
	position: absolute;
	left: 50%;
	top: 90%;
	transform: translate(-50%, -50%);
	margin: 0 auto;
	text-align: center;
	color: black;
	font-size: 16px;
	font-family: 'Varela Round', sans-serif !important;
	font-weight:normal !important;
}
p a {
	color: rgb(114, 170, 203);
	font-weight: bold !important;
}
